<html>
    <head>
        <title>Verify Lock Password</title>
    </head>
    <body>
       <h2>🔒 Enter Lock Password</h2>
       {% if error %}
           <p style="color:red;">❌ {{ error }}</p>
       {% endif %}

       <form method="POST">
           <input type="password" name="password" placeholder="Enter lock password" required>
           <button type="submit">Unlock</button>
       </form>

       <br>
       <a href="/forgot_lock_password">🔁 Forgot Lock Password?</a>

    </body>
</html>